<%- include('includes/head'); %>

<%- include('includes/navBar'); %>
<div class="container">
    <div class="row">   
        <div class="col-lg-2">

        </div>  
        <div class="col-lg-8 my-4">
            <h1 class="display-1 text-center ">
                você precisa sair pra criar outra conta
            </h1>
            <p class="text-center lead">suas tarefas estão abaixo</p>
            <%- include('includes/messages'); %>


        </div>
        <div class="col-lg-2">
            
        </div>
    </div>
</div>

<%- include('includes/footer'); %>